/* Custom dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2937;
        /* Dark background color */
        color: #e5e7eb;
        /* Light text color */
    }

    .bg-gray-800 {
        background-color: #111827;
        /* Darker gray for navbar */
    }

    .bg-white {
        background-color: #1f2937;
        /* Dark background for white elements */
    }

    .text-gray-700 {
        color: #e5e7eb;
        /* Light gray text color */
    }

    .bg-gray-900 {
        background-color: #0f172a;
        /* Darker gray for selected elements */
    }

    .bg-gray-700 {
        background-color: #374151;
        /* Medium gray for hover states */
    }

    .text-gray-300 {
        color: #d1d5db;
        /* Light gray text color */
    }
}

@media (max-width: 768px) {
    #pagination {
        font-size: 0.875rem;
        /* Adjust font size for smaller screens */
    }

    #pagination button {
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 769px) {
    #pagination {
        font-size: 1rem;
        /* Default font size */
    }

    #pagination button {
        padding: 0.75rem 1.5rem;
    }
}